.raw-module-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  background-color: #fff;
}

.raw-module-table tr {
  border-bottom: 1px solid #eee;
}

.raw-module-table td {
  padding: 0.6rem 1rem;
  border-bottom: 1px solid #eee;
  vertical-align: top;
}

.raw-module-table .label-cell {
  font-weight: 600;
  color: #333;
  width: 40%;
  background-color: #f9f9f9;
}

.raw-module-table .field-name {
  font-weight: 500;
  color: #444;
  width: 35%;
}

.raw-module-table .field-value {
  color: #222;
}


.raw-module-table ul {
  list-style-type: disc;
  margin: 0;
  padding-left: 1.5rem;
}
.raw-module-table li {
  margin-bottom: 2px;
}

.raw-module-container {
  position: relative;
}

.edit-icon-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
}

.edit-icon {
  cursor: pointer;
  font-size: 1.4rem;
  color: #555;
}

.edit-icon:hover {
  color: #000;
}
